@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@font-face {
    font-family: 'Gilroy';
    src:  url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
          url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Gilroy';
    src:  url('../fonts/Gilroy-Light.woff2') format('woff2'),
          url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 400;
  }